.sidebar {
  width: 220px;
  background: #161616;
  color: #fff;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
  font-size: large;
}

.sidebar a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 15px;
}

.sidebar a.active {
  color: #fff;
  font-weight: bold;
}
